
/* https://routeweather.netlify.app/images/icon-compass.png */
/* https://routeweather.netlify.app/images/icon-umberella.png */

*{
	color: aliceblue !important;
}
   .is-invalid{
	border: 3px solid red !important;
   }

   input:focus {
    border: 1px solid rgb(0, 102, 255);
    outline: none; /* Remove the default focus outline */
}
  
.navbar-collapse.expanded {
    max-height: 190% !important;
	background-color: rgb(30,32,43) !important;
	position: relative;
	z-index: 22222;
}
   .active{
	background-color: rgb(16, 60, 156) !important;
   }
  #search{
	background-color: rgb(30,32,43) !important;
	text-indent: 33px !important;
    width: 80%;  
	height: 72px;
} 
 .search {
	display: flex;
	justify-content: center;
	position: absolute;
    margin-top: 33px;
	color: white !important;
 }
  .search input {
    color: aliceblue !important;
	background-color:  rgba(22, 9, 70, 0.63 , .3) !important;
  }
 .search button {
    position: absolute;
     right: 125px;
	 width: 111px;
	 margin: 6px ;
	 border-radius: 31px !important;
    }
  #search{
   box-shadow:  none !important;
}
 
 .body {
	background-image: url("banner.png") ;
	background-repeat: no-repeat;
	background-size: cover;
	background-color:  rgba(22, 9, 70, 0.63 , .3) !important;
	height: 53vh;
  
}
.navbar-toggler-icon-light span{
	color: red !important;

}
.navbar-toggler-icon-light {
	background-color:  rgb(199, 198, 201) !important;
	}
nav {
	background-color: rgb(30,32,43);
}
nav .container-fluid{
	
	width: 80% !important;
	margin-inline: auto !important;
	height:  22vh;
	color: aliceblue !important;
 }
  .para{
	  font-size: 18px !important;
  }
   .active{
	color:  rgba(21, 118, 230, 0.952) !important;
   }
 #logo h1{
	font-size: 37px t!important;
/* background-image: url(`https://routeweather.netlify.app/images/logo.png`); */
 }
   .navbar-nav a{
	  font-size: 18px !important;
	  font-weight: bold;
	margin: 8px ;
	   width: 25% ;
	   text-align: center;
      border-radius: 33px !important;
       border: 3px solid rgba(21, 118, 230, 0.952);
}

 .card {
	width: 100% !important;
	background-color: rgb(30,32,43);
	
	}
	.car2{
		background-color: rgb(44, 39, 61) ;
	}
    .one {
	background-color: rgb(44, 47, 61);
	}
	.tem {
		font-size: 64px ;
	}
	.card-cont{
		position: relative;
		top: 244px;
	}
   body {
		background-color: rgb(64, 67, 82) ;
     
   }

   .fill{
	height: 44vh;
   }
   #subscribe{
	display: block;
	background-color: rgb(30,32,43) !important;
	text-indent: 33px !important;
    width: 80%;  
	height: 72px;
} 
 .subscribe {
	display: flex;
	justify-content: center;
  }
 .subscribe button {
    position: absolute;
     right: 125px;
	 width: 111px;
	 margin: 6px ;
	 border-radius: 31px !important;
    }

 .con1 {
	background-color: rgb(39, 41, 53) !important;
	text-align: center;
	display: block;
	height: 40vh;
 }

